<% provide(:title, "Home") %>
  <div class="center jumbotron">
    <h1>Recipe Saver</h1>
    <p>
      This is a web app that allows you to store your recipes online and share them for others to see.  Create an         account and start saving your recipes today, or browse the recipes that have been uploaded by other users!
      <br /><br />
      <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
      <%= link_to "Browse Recipes", allRecipes_path, class: "btn btn-lg btn-primary" %>
    </p>
  </div>

  <div>
    <h1>Recently Added Recipes</h1>
    <ul>
      <%= render @tenRecipes %>
    </ul>
  </div>