<br />
<br />
<br />
<br />

<div id="wrapper">
  <div id="sidebar-wrapper" class="col-md-1">
    <div id="btn-group-vertical" role="group" aria-label="...">
      <ul class="nav list-group">
        <li>
          <%= link_to "Your Recipes", current_user, class: "btn btn-default"%>
        </li>
        <li>
          <%= link_to "New Recipe", newRecipe_path, class: "btn btn-default" %>
        </li>
        <li>
          <%= link_to "New Recipe", newRecipe_path, class: "btn btn-default" %>
        </li>
      </ul>
    </div>
  </div>
</div>