<br />
<br />
<br />
<br />

<div id="wrapper">
  <div id="sidebar-wrapper" class="col-md-1">
    <div id="sidebar">
      <ul class="nav list-group">
        <li>
          <a class="list-group-item" href="#"><i class="icon-home icon-1x"></i>Your Recipes</a>
          <span><%= link_to "Your Recipes", current_user, class: "icon-home icon-1x"%></span>
        </li>
        <li>
          <%= link_to "New Recipe", newRecipe_path, class: "icon-home icon-1x" %>
        </li>
        <li>
          <a class="list-group-item" href="#"><i class="icon-home icon-1x"></i>Sidebar Item 3</a>
        </li>
      </ul>
    </div>
  </div>
</div>